.mat-form-field {
    padding: 16px;
}

.hours{
    border-radius: 12px;
    width: 200px;
    height: 40px;
}
h4{
    height: auto;
    width: 100%;
    text-transform: uppercase;
    font-style: italic;
}



 

 